@charset "utf-8";

body,a,img { margin: 0; padding: 0; }
body { font-size:1em; line-height:180%;}
ol { margin: 0 0 0 2em; padding: 0; }
h1 { font-size:1.7em; }
h2 { font-size:1.1em;}
#topWrap { padding: 20px;}
#wrap { margin: 0 auto; width: 930px; position:relative; }
	#wrap img { position:absolute; left:-535px; }
#indexC_nav { position:fixed; top:55px; margin-left:130px;}
